* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* overflow: hidden; */
}

.container {
  width: 500px;
  height: 500px;
  /* position: absolute; */
  /* left: 300px; */
}

canvas {
  width: 500px;
}

.webgl {
  /* position: fixed;
    top: 0;
    left: 0;
    outline: none; */
  width: 300px;
  border: 2px solid red;
}
